
<%= form_for [@provider], :url => provider_path, :html => {:method => 'put'} do |f| %>

	<% if @provider.errors.any? %>
    	<div class = "form_errors">
      		<h2><%= pluralize(@provider.errors.count, "error") %> prohibited this person from being saved:</h2>
      		<ul>
      			<% @provider.errors.full_messages.each do |msg| %>
        			<li><%= msg %></li>
      			<% end %>
      		</ul>
    	</div>
  	<% end %>
	<div class = 'form'>
  		<div class="field">
  			<%= f.label "Select Provider to Associate to the Group:" %><br />  		
  			<%= f.select(:group_ids, options_from_collection_for_select(@all_groups, :id, :group_name, 
  			      		 @groups.collect {|u| u.id}), {}, {:multiple => true})%>
		</div>
		<div class='button'>
    		<%= f.submit "Save Association", :class => 'submit' %>
		</div>
	</div>
<% end %>