<div class='right'>	
	<%= form_tag search_provider_path, :remote => true, :id => 'provider_search_form' do %>
		<div id="provider_search">
			Search:
			<%= text_field_tag :search %>			
			<%= image_tag "tip-button.png", :alt => "tip", :width => 20, :height => 20, :title => "Enter your search criteria.  A minimum of three characters needs to be entered before the dialog window will appear. " %>			 
		</div>			
	<% end %>	
</div>
<div class="right-spacer"></div>
<table class='table'>
	<tr>
		<th id='t1'>Provider Name</th>
		<th id='t2'>NPI</th>		
		<th id='t3'>License</th>				
    	<th id='t5'>Phone Number</th>    	
    	<th></th>
    	<th></th>
	</tr>

	<% if @providers.count == 0 %>
		<tr><td>No Providers Defined</td></tr>
	<% else %>
		<% @providers.each do |g| %>
	  		<tr>
	  			<td><%= link_to g.provider_name, provider_path(g) %></td>
	  			<td><% if !g.npi.blank? %><%= g.npi%><% else %>NA<% end %></td>				
				<td><% if !g.license_number.blank? %><%= g.license_number %><% else %>NA<% end %></td>
				<td><% if !g.office_phone.blank? %>O: <%= g.office_phone %><br /><% end %>					
					<% if !g.home_phone.blank? %>H: <%= g.home_phone %><br /><% end %>
					<% if !g.cell_phone.blank? %>C: <%= g.cell_phone %><br /><% end %>
					<% if !g.fax_phone.blank? %>F: <%= g.fax_phone %><% end %>
				</td>    						
			    <td><%= link_to image_tag('edit-button.png', :alt => 'Edit', :title => 'Edit', :border => 0, :width => 20, :height => 20), edit_provider_path(g) %></td>
	    		<td><% if g.insurance_sessions.blank? %>
	    				<%= link_to image_tag('del-button.png', :alt => 'Delete', :title => 'Delete', :border => 0, :width => 20, :height => 20), provider_path(g), :data => {:confirm => "Are you sure you want to delete the provider #{g.first_name} #{g.last_name}?"}, :method => :delete %>
	    			<% end %>
	    		</td>
	  		</tr>
		<% end %>
	<% end %>
</table>

<div class='search_dialog'></div>