<p id="notice"><%= notice %></p>

<section class="show_invoice">
	<h2>Invoice:</h2>
	<div class='right button'>
		<%= link_to "Invoice PDF", invoice_show_pdf_path(@invoice, :format => :pdf), :class=> 'submit' %>
	</div>
	<div id="status">
	  	<b>Status:</b><br />
	  	<%= InvoiceFlow.status(@invoice.status) %>
	</div>
	<div id="created_date">	
	  	<b>Created date:</b><br />
	  	<%= @invoice.created_date.strftime("%m/%d/%Y") if @invoice.created_date %>
	</div>
	<div id="sent_date">	
	  	<b>Sent date:</b><br />
	  	<%= @invoice.sent_date.strftime("%m/%d/%Y") if @invoice.sent_date %>
	</div>
	<div id="closed_date">	
	  	<b>Closed date:</b><br />
	  	<%= @invoice.closed_date.strftime("%m/%d/%Y") if @invoice.closed_date %>
	</div>
	<div id="total_amount">	
	  	<b>Total Invoice Amount:</b><br />
	  	<%= number_to_currency(@invoice.total_invoice_amount) %>
	</div>
	<div id="balance_owed">	
		<b>Balance Owed:</b><br />
	  	<%= number_to_currency(@invoice.balance_owed_amount) %>
	</div>
	<div id="terms">	
		<b>Payment Terms:</b><br />
		<%= InvoiceFlow::term(@invoice.payment_terms) %>
	</div>
	<div id="method">	
		<b>Method of Calculation:</b><br />
		<%= InvoiceCalculation::calculation_method(@invoice.invoice_method) %>
	</div>
	<div id="fee_start">
		<b>Service Start Date:</b><br />
		<%= @invoice.fee_start.strftime("%m/%d/%Y") if @invoice.fee_start %>
	</div>
	<div id="fee_end">
		<b>Service End Date:</b><br />
		<%= @invoice.fee_end.strftime("%m/%d/%Y") if @invoice.fee_end %>
	</div>
	
</section>
<section>
	<h2>Invoice Details:</h2>
	<%= render 'show_detail' %>
</section>
