<% @eob.eob_details.each do |detail| %>	
	<div class='detail'>
		<b>Date of Service: </b><%= detail.dos.strftime("%m/%d/%Y") if !detail.dos.blank? %><br />
		<table>
		<tr>
			<th class="service">Type of Service</th>
			<th class="dollar2">Billed</th>
			<th class="dollar2">Allowed</th>			
			<th class="dollar2">Deductible</th>
			<th class="dollar2">Copay</th>
			<th class="dollar2">CoInsurance</th>
			<th class="dollar2">Other Carrier</th>
			<th class="dollar2">Not Cov</th>
			<th class="dollar2">Paid</th>
		</tr>
		<tr>			
			<td><%= detail.type_of_service %></td>
			<td><%= number_to_currency(detail.charge_amount) %></td>
			<td><%= number_to_currency(detail.allowed_amount) %></td>				
			<td><%= number_to_currency(detail.deductible_amount) %></td>
			<td><%= number_to_currency(detail.copay_amount) %></td>
			<td><%= number_to_currency(detail.coinsurance_amount) %></td>	
			<td><%= number_to_currency(detail.other_carrier_amount) %></td>
			<td><%= number_to_currency(detail.not_covered_amount) %></td>
			<td><%= number_to_currency(detail.payment_amount) %></td>
		</tr>		
		
		<% if @eob.eob_details.blank? %>
			<tr><td></td><td>No records entered</td></tr>
		<% end %>		
		</table>		
		<div class='spacer'></div><br />
		
		<b>Claim Adjustments:</b>
        <% detail.eob_service_adjustments.each do |adjustment| %>
        	<table class='indent'>
        		<tr>
        			<td class='adjust_code'><%= EobCodes::adjustment_group_code(adjustment.claim_adjustment_group_code) %></td>
        			<td class='adjust_desc'><%= CodesCarc.find_by_code(adjustment.carc1).description %></td>
        			<td class='adjust_amt'><%= number_to_currency(adjustment.monetary_amount1) %></td>
        		</tr>
        		<% if !adjustment.carc2.blank? %>
	        		<tr>
	        			<td></td>
	        			<td><%= CodesCarc.find_by_code(adjustment.carc2).description %></td>
	        			<td><%= number_to_currency(adjustment.monetary_amount2) %></td>
	        		</tr>
        		<% end %>
        		<% if !adjustment.carc3.blank? %>
	        		<tr>
	        			<td></td>
	        			<td><%= CodesCarc.find_by_code(adjustment.carc3).description %></td>
	        			<td><%= number_to_currency(adjustment.monetary_amount3) %></td>
	        		</tr>
        		<% end %>
        		<% if !adjustment.carc4.blank? %>
	        		<tr>
	        			<td></td>
	        			<td><%= CodesCarc.find_by_code(adjustment.carc4).description %></td>
	        			<td><%= number_to_currency(adjustment.monetary_amount4) %></td>
	        		</tr>
        		<% end %>
        		<% if !adjustment.carc5.blank? %>
	        		<tr>
    	    			<td></td>
        				<td><%= CodesCarc.find_by_code(adjustment.carc5).description %></td>
        				<td><%= number_to_currency(adjustment.monetary_amount5) %></td>
        			</tr>
        		<% end %>
        		<% if !adjustment.carc6.blank? %>
	        		<tr>
	        			<td></td>
	        			<td><%= CodesCarc.find_by_code(adjustment.carc6).description %></td>
	        			<td><%= number_to_currency(adjustment.monetary_amount6) %></td>
	        		</tr>
        		<% end %>
        	</table>
            
        <% end %>
        <br />
        <b>Remarks:</b><br />
        <% detail.eob_service_remarks.each do |remark| %>        
        	<div class='indent'><%= CodesRarc.find_by_code(remark.remark_code).description if !CodesRarc.find_by_code(remark.remark_code).blank? %></div>
        <% end %>        
	</div>
<% end %>	
