<%= provider_name = "" %>
<% if !@eobs.blank? %>
	<% @eobs.each do |eob| %>
		<% if eob.eob_provider_name != provider_name %>
			</table><br />
			<h3>Provider: <%= provider_name = eob.eob_provider_name %></h3>
			<div> 
			<table>
			  <tr>
			  	<th class='action'></th>
			  	<th class='date'>DOS</th>		  	
			  	<th class='patient'>Patient</th>  	    
			    <th class='payor'>Payor Name</th>
			    <th class='claim'>Claim Number</th>    
			    <th></th>
			  </tr>
		<% end %>
		<tr>    
		  	<td>
		  		<%= link_to image_tag('a-button.png', :alt => 'Assign EOB', :title => 'Assign EOB', :border => 0, :width => 20, :height => 20), edit_unassigned_eob_path(eob) %>
		  		<%= link_to image_tag('view-button.png', :alt => 'View EOB', :title => 'View EOB', :border => 0, :width => 20, :height => 20), eob_path(eob) %>
			</td>	  	
		  	<td><% if eob.dos %><%= eob.dos.strftime("%m/%d/%Y") %><% else %>No DOS<% end %></td>	    
		    <td><%= eob.eob_patient_name %></td>    
		    <td><%= eob.payor_name %></td>    
		    <td><%= eob.claim_number %></td>
		    <td><%= link_to image_tag('del-button.png', :alt => 'Delete', :title => 'Delete', :border => 0, :width => 20, :height => 20), eob, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
	</table>
	</div>
<% else %>
	<p>There are no unassigned EOB's awaiting processing.  Unassigned EOB's have been either assigned or deleted. </p>
<% end %>
