
<div class='table'>
	<table>
	  <tr class='table_data'>
	  	<th></th>
	    <th>DOS</th>
	    <th>Session Status</th>
	    <th>Claim / Bal Status</th>
	    <th class="amount">Charges</th>
	    <th class="amount">Allowed</th>
	    <th class="amount">Ins Paid</th>
	    <th class="amount">Deductible</th>
	    <th class="amount">Bal Bill Paid</th>
	    <th class="amount">Balance Owed</th>
	    <th class="amount">Waived</th>
	    <th></th>
	  </tr>

		<% @insurance_sessions.each do |session| %>
		  <tr class='table_data'>
		    <td>
		    	<% if session.status == SessionFlow::CLOSED %>
			    	<%= link_to image_tag('view-button.png', :alt => 'View Closed Session', :title => 'View Closed Session', :border => 0, :width => 20, :height => 20),
			    	    insurance_session_insurance_billings_path(session) %>
		    	<% elsif session.status >= SessionFlow::PRIMARY && session.status <= SessionFlow::OTHER %>
		    		<%= link_to image_tag('edit-button.png', :alt => 'Edit Claims', :title => 'Edit Claims', :border => 0, :width => 20, :height => 20),
		    		    insurance_session_insurance_billings_path(session) %>
		    	<% elsif session.status == SessionFlow::BALANCE %>
		    	     <% if !session.balance_bill_session.blank? %>
 		    		       <%= link_to image_tag('edit-button.png', :alt => 'Edit Balance Bill Entry', :title => 'Edit Blance Bill Entry', :border => 0, :width => 20, :height => 20),
 		    		           edit_insurance_session_balance_bill_session_path(session.id, session.balance_bill_session.id) %>
 		    		 <% else %>
                           <%= link_to image_tag('edit-button.png', :alt => 'New Balance Bill Entry', :title => 'New Blance Bill Entry', :border => 0, :width => 20, :height => 20),
                               new_insurance_session_balance_bill_session_path(session.id) %>
 		    		 <% end %>
 		    	<% elsif session.status == SessionFlow::ERROR ||session.status == SessionFlow::OPEN %>
 		    		<%= link_to image_tag('edit-button.png', :alt => 'Edit Session', :title => 'Edit Session', :border => 0, :width => 20, :height => 20),
 		    		    edit_insurance_session_path(session) %>
		    	<% end %>
		    </td>

            <td><%= session.dos.strftime("%m/%d/%y") %></td>
            <td><%= SessionFlow.status(session.status) %></td>

            <% if session.status >= SessionFlow::PRIMARY && session.status <= SessionFlow::OTHER %>
                <td>
                    Claim -
                    <%= BillingFlow.status(session.insurance_billings.last.status) if !session.insurance_billings.blank? %>
                </td>
            <% elsif session.status == SessionFlow::BALANCE %>
                <td>
                    Balance -
                    <% if !session.balance_bill_session.blank? && session.balance_bill_session.balance_bill_id %>
                        <%= session.balance_bill_session.balance_bill.balance_status %>
                    <% else %>
                        Not Assigned
                    <% end %>
                </td>
            <% elsif session.status == SessionFlow::ERROR %>
                <td>Error</td>
            <% elsif session.status == SessionFlow::CLOSED %>
                <td>None</td>
            <% else %>
                <td>None</td>
            <% end %>

		    <td class='right_justify'><%= number_to_currency(session.charges_for_service) %></td>
		    <td class='right_justify'><%= number_to_currency(session.ins_allowed_amount) %></td>
		    <td class='right_justify'><%= number_to_currency(session.ins_paid_amount) %></td>
		    <td class='right_justify'><%= number_to_currency(session.deductible_amount) %></td>
		    <td class='right_justify'><%= number_to_currency(session.bal_bill_paid_amount) %></td>
		    <td class='right_justify'><%= number_to_currency(session.balance_owed) %></td>
		    <td class='right_justify'><%= number_to_currency(session.waived_fee) %></td>

		    <td>
                <%= link_to image_tag('err-button.png', :alt => 'Errors', :title => 'Errors', :border => 0, :width => 20, :height => 20),
                    insurance_billing_dataerror_path(session.insurance_billings.last.id ) if session.status >= SessionFlow::PRIMARY && session.status <= SessionFlow::OTHER  && !session.insurance_billings.blank? && !session.insurance_billings.last.dataerrors.blank? %>
		        <%= link_to image_tag('del-button.png', :alt => 'Delete', :title => 'Delete', :border => 0, :width => 20, :height => 20), session,
		            method: :delete, data: { confirm: 'Are you sure?' } if session.verify_record_deleteable %>
		    </td>
		  </tr>
		<% end %>
	</table>
</div>
