<%= form_for [@user], :url => update_password_user_path, :html => {:method => 'put'} do |f| %>
	<div class='button'>
		<%= f.submit :class => 'submit' %>
	</div>

	<div class = 'form'>
  		<% if @user.errors.any? %>
    		<div class ="form_errors">
	      		<h2><%= pluralize(@user.errors.count, "error") %> prohibited this person from being saved:</h2>
	      		<ul>
	      			<% @user.errors.full_messages.each do |msg| %>
	        			<li><%= msg %></li>
	      			<% end %>
	      		</ul>
    		</div>
  		<% end %>
		
		Password Reset		
		<div class="field">
			<%= @user.first_name + " " + @user.last_name %>
		</div>
		<div class="field">
			<%= f.label :password %><br />
			<%= f.password_field :password, :autocomplete => 'off' %>
		</div>	
		<div class="field">
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation %>
		</div>
	</div>

<% end %>