<p>
  <b>Name:</b>
  <%= @insurance_co.name %>
</p>

<p>
  <b>Address:</b><br />
  <%= @insurance_co.address1 %><br />
  <%= @insurance_co.address2 %>
  <%= @insurance_co.city %>, <%= @insurance_co.state %>   <%= @insurance_co.zip %>
</p>

<p>
  <b>Main phone:</b>
  <%= @insurance_co.main_phone %><br />
  <b>Main phone description:</b>
  <%= @insurance_co.main_phone_description %>

</p>

<p>
  <b>Alt phone:</b>
  <%= @insurance_co.alt_phone %><br />
  <b>Alt phone description:</b>
  <%= @insurance_co.alt_phone_description %>
</p>

<p>
  <b>Fax number:</b>
  <%= @insurance_co.fax_number %>
</p>

<p>
  <b>Payer ID:</b>
  <%= @insurance_co.insurance_co_id %>
</p>

<p>
  <b>Submitter:</b>
  <%= @insurance_co.submitter_id %>
</p>


