<div class = 'sidebar'>	
	<%= link_to "Claims Initiated", initial_billing_path %>
	<%= link_to "Claims Ready", processing_claim_ready_path %>
	<%= link_to "Claims Submitted", processing_claim_submitted_path %>
	<br /><br />
	<%= link_to "Posted EOB's", eobs_path %>
	<%= link_to "Unassigned EOB's", eob_unassigned_path %>
	<%= link_to "Manually Create EOB", new_eob_path %>
	<br /><br />
	<%= link_to "Balance Bills Ready", balance_bills_path %>
	<%= link_to "Balance Bills Sent", balance_bill_payments_path %>	
	<br /><br />
	<%= link_to "ClearingHouse Advice", processing_view_advice_path %>
	<%= link_to "Session History", processing_session_history_path %>		
</div>