<section>
    <div class='left'>
       <div id='status'>
          <b>Status:</b> <%= @balance_bill.balance_status %><br />
       </div>
       <div id='invoice_date'>
          <b>Invoice date:</b> <%= @balance_bill.invoice_date.strftime("%m/%d/%Y") if @balance_bill.invoice_date %><br />
       </div>
       <br />
       <div id='provider'>
         <b>Provider:</b><br />
         <%= @balance_bill.provider.provider_name %>
      </div>
      <br />
      <div id='comment'>
         <b>Comment:</b><br />
         <%= @balance_bill.comment.blank? ? "No Comment" : @balance_bill.comment %>
      </div>
    </div>
    <div class='right'>
       <div id="adjustment">
          <b>Adjustment Description:</b><br />
          <%= @balance_bill.adjustment_description.blank? ? "No adjustments entered" : @balance_bill.adjustment_description %>
       </div>
       <br />
       <table>
          <tr><th>Adjustment Amount:</th><td class='amt'><%= number_to_currency(@balance_bill.adjustment_amount) %></td></tr>
          <tr><th>Late Fee:</th><td class='amt amount'><%= number_to_currency(@balance_bill.late_amount) %></td></tr>
          <tr><th>Total Amount:</th><td class='amt amount'><%= number_to_currency(@balance_bill.total_amount) %></td></tr>
          <tr><th>Balance Owed:</th><td class='amt amount'><%= number_to_currency(@balance_bill.balance_owed) %></td></tr>
       </table>
    </div>
</section>