<%= form_for [@insurance_session, balance_bill_session] do |f| %>
	<section class='balance_form'>
		<div class='right'>
			Created: <%= balance_bill_session.created_at.strftime("%m/%d/%Y") if balance_bill_session.created_at? %><br />
			Updated: <%= balance_bill_session.updated_at.strftime("%m/%d/%Y") if balance_bill_session.updated_at? %>
		</div>
		<div class='balance_form_header'>
			<div id='status'>
			    <% if balance_bill_session.id? %>
					<%= link_to image_tag('del-button.png', :alt => 'Delete Balance Bill', :title => 'Delete Balance Bill', :border => 0, :width => 20, :height => 20),
					    insurance_session_balance_bill_session_path(@insurance_session.id, balance_bill_session.id), method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
			</div>
			<div id='total_amount'>
				<b>Total Amount Due:</b> <%= number_to_currency(f.object.total_amount) %><br />
			</div>
		</div>
		<%= f.hidden_field :patient_id %>
		<%= f.hidden_field :group_id %>
		<%= f.hidden_field :provider_id %>
		<%= f.hidden_field :dos, :value => (f.object.dos.blank? ? '' : f.object.dos.strftime("%d/%m/%Y")) %>
		<%= f.hidden_field :disposition %>
	  	<div class='detail'>
	  		<b>Details:</b>
	  		<% if balance_bill_session.id? %>
	  			<%= link_to image_tag('add-button.png', :alt => 'Add Detail', :title => 'Add Detail', :border => 0, :width => 20, :height => 20),
	  		 		insurance_session_balance_bill_session_ajax_detail_path(@insurance_session.id, balance_bill_session.id),
	  		 		:remote => true, :id => 'balance_bill_session_add' %>
	  		<% end %>
	  		<div id='new_form'>
				<%= render :partial => 'details', :locals => {:f => f} %>
			</div>
		</div>
	</section>
	<div class="button">
	   	<%= f.submit "Update Balance Bill", :class => 'submit' %>
	   	<%= f.submit "Save Balance Bill", :class => 'submit' %>
	</div>
<% end %>