<table>
  <tr>
    <th>Code</th>
    <th>Description</th>
    <th></th>   
    <th></th>
  </tr>

<% @codes_pos.each do |codes_po| %>
  <tr class="<%= cycle('even','odd') %>" >
    <td><%= link_to codes_po.code, codes_po %></td>
    <td><%= codes_po.description %></td>    
    <td><%= link_to image_tag('edit-button.png', :alt => 'Edit', :title => 'Edit', :border => 0, :width => 20, :height => 20), edit_codes_pos_path(codes_po) %></td>
    <td><%= link_to image_tag('del-button.png', :alt => 'Delete', :title => 'Delete', :border => 0, :width => 20, :height => 20), codes_pos_path(codes_po), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
