<div id="subscriber_address1">
	Address:<br />
    <input autocomplete="off" id="subscriber_subscriber_address1" name="subscriber[subscriber_address1]" size="30" value="<%= @patient.address1 %>" type="text" />
</div> 
<div id="subscriber_address2">				
	<input autocomplete="off" id="subscriber_subscriber_address2" name="subscriber[subscriber_address2]" size="30" value="<%= @patient.address2 %>" type="text" />
</div> 
<div id="subscriber_city">
	City:<br />
	<input autocomplete="off" id="subscriber_subscriber_city" name="subscriber[subscriber_city]" size="30" value="<%= @patient.city %>" type="text" />
</div> 
<div id="subscriber_state">
	State<br />
	<input autocomplete="off" class="capstate" id="subscriber_subscriber_state" name="subscriber[subscriber_state]" size="30" value="<%= @patient.state %>" type="text" />
</div> 
<div id="subscriber_zip">
	Zip:<br />
	<input autocomplete="off" class="zip" id="subscriber_subscriber_zip" name="subscriber[subscriber_zip]" size="30" value="<%= @patient.zip %>" type="text" />
</div> 