
    <div class='index'>
	<% if !@balance_bills.blank? %>
		<table class='table'>
			<tr>
				<th id='patient'>Patient</th>
				<th id='status'>Status</th>
				<th id='created'>Created</th>
				<th id='address'>Address</th>
				<th id='phone'>Phone</th>
				<th></th>
			</tr>
			<% @balance_bills.each do |balance| %>
				<tr>
					<td class='patient'><%= link_to balance.patient.patient_name, balance_bill_path(balance.id) %></td>
					<td><%= balance.balance_status %></td>
					<td><%= balance.created_at.strftime("%m/%d/%Y") if balance.created_at? %></td>
					<td><%= balance.patient.address1 %><br />
						<% if balance.patient.address2? %>
							<%= balance.patient.address1 %> <br />
						<% end %>
						<%= balance.patient.city %>, <%= balance.patient.state %></td>
					<td><%= balance.patient.home_phone %></td>
					<td><%= link_to image_tag('del-button.png', :alt => 'Delete', :title => 'Delete', :border => 0, :width => 20, :height => 20),
					        balance_bill_path(balance.id), method: :delete, data: { confirm: 'Are you sure?' } if balance.balance_bill_deleteable? %></td>
				</tr>
			<% end %>
		</table>
	<% else %>
		<b>No Balance Bills have been created.</b>
	<% end %>
	</div>
